Project_Main/project_dirs
AtoZ-py3.12
Stage_1_Segmentation_Module/data/
Stage_1_Segmentation_Module/evaluate_model/sentences_output_for_evaluate
Stage_2_Classification_Module/data/
Stage_2_Classification_Module/runs/
Stage_2_Classification_Module/models/
*.pyc
Stage_4_Correction_Module/testing
save_me.zip